.roadmap-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:row;  
}
p,h3{
    color: #647196;
}

.plan-box{
   margin-top: 32px;
   margin-bottom: 24px;
    width: 100%;
    border-radius: 5px;
    background-color:#ffffff ;
}
#plan{
    border-top: 5px solid #f49f85 ;

}
#progress{
    border-top: 5px solid #ad1fea;
}

#live{
    border-top: 5px solid #62bcfa;
}
#plan-round{
    background-color: #f49f85;
}
#progress-round{
    background-color: #ad1fea;
}
#live-round{
    background-color: #62bcfa;
}
.plan-inner{
    margin-left:9.14%;
    margin-right: 9.14%;
}
.plan-st{
    display: flex;
    flex-direction: column;
    margin-right: 2.72%;
}

.sub-faded{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.round-plan{
    border-radius: 50%;
    /* background-color: #f49f85; */
    width: 8px;
    height: 8px;
    margin-right: 4.57%;
    margin-top: 7px;
}

.plan-title-1{
    margin-top: 0;
    text-transform: lowercase;
}


.tag{
    
    background-color:#f2f4ff ;
    padding: 5px 16px;
    max-width: fit-content;
    border-radius: 10px;
    text-align: center;
    color:#4661e6 ;
    font-weight: 600;
    max-height: 30px;
}

.up{
    background-color:#f2f4ff ;
    border-radius: 10px;
    width: 19.71%;
    height: 40px;
    margin-right: 49.71%;
}

.up:hover{
    background-color:#cfd7ff ;
}
.up:active{
    background-color:#4661e6 ;
}
.up:active p{
    color: #ffffff;
}
.up:active svg{
   stroke: #ffffff;
}


.inner-box-up{
    height: 19px;
    margin: 11px 18.12% 10px 23.19%;
    display: flex;
    flex-direction: row;
    width: 58.7%;
}

.arrow-up{
    /* width: 8px;
    height: 4px; */
    font-weight: 600;
    margin-right: 23.46%;
    margin-top: 5px;
}

.up-votes{
    font-weight: 600;
    margin: 0;    
}
.other-line{
    display: flex;
    flex-direction: row;
    width: 12.57%;
    height: 23px;
    margin-top: 8.5px;
    margin-bottom: 32px;
}
.comments-svg{
    width: 18px;
    height: 16px;
    margin-right: 18.18%;
    margin-top: 4px;
}
.comments{
    margin: 0;
    font-weight: 700;
}

.plan-text-bold{
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 700;
}

.plan-text-bold:hover{
    color: #4661e6;
}

.plan-text-normal{
    margin: 0;
}

.last-line{
    display: flex;
    flex-direction: row;   
}
.plan-title-1::first-letter{
    text-transform: capitalize;
}
.tag::first-letter{
    text-transform: uppercase;
}