
a {
    text-decoration: none;
  }

.main-page {
  width: 1110px;
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
  margin-top: 94px;
  margin-bottom: 129px;
}

.body {
  width: 100%;
}

.loader {
  width: 200px;
  margin: 35% auto;
}

.empty-page {
  width: 825px;
  height: 600px;
  border-radius: 10px;
  background: #FFFFFF;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-page-component {
  width: 410px;
  height: 379px;
}

.empty-page-component img {
  transform: translateX(150%);
}

.text-container {
  width: 410px;
  height: 189px;
  margin-top: 53.26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container .h1 {
  width: 278px;
  height: 35px;
  text-align: center;
  color: #3A4374;
}

.text-container .body-1 {
  width: 410px;
  height: 46px;
  margin-top: 16px;
  text-align: center;
  color: #647196;
  font-weight: 400;
}

.button-1-default.empty {
  margin-top: 48px;
  font-weight: 700;
}

@media screen and (max-width: 950px) {
  .main-page {
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;

  }

  .empty-page {
    width: 689px;
    height: 600px;
  }
}

@media screen and (max-width: 450px) {
  .main-page {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  
  .empty-page {
    width: 327px;
    height: 460px;
    margin-inline: 24px;
  }

  .empty-page-component {
    width: 278px;
    height: 308px;
  }

  .empty-page-component img {
    transform: translateX(90%);
  }

  .text-container {
    width: 278px;
    height: 189px;
    margin-top: 39px;
    flex-direction: column;
  }

  .text-container .h1 {
    width: 278px;
    height: 35px;
    font-size: 18px;
    color: #3A4374;
  }

  .text-container .body-1 {
    width: 278px;
    height: 57px;
    margin-top: 14px;
    font-size: 13px;
    color: #647196;
    line-height: 19px;
  }

  .button-1-default.empty {
    margin-top: 24px;
  }
}