

main {
  width: 51.35vw;
  margin-top: 81px;
  color: #3a4374;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: none;
}

.edit-button {
  background: #4661e6;
}
.back-text {
  margin-left: 19.67px;
  font-weight: 700;
  color: #647196;
}

.sections {
  background-color: #ffffff;
  padding: 24px 34px;
  border-radius: 10px;
  margin-top: 23px;
}
.comment-section {
  margin-top: 32px;
  margin-bottom: 32px;
}


.comment-profile {
  display: flex;
  gap: 32px;
  position: relative;
  margin-top: 42px;
}
.profile-image {
  height: 50%;
  border-radius: 50%;
}
.user-account {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.user-detail {
  width: 70%;
  align-self: flex-end;
}

.reply {
  color: #4661e6;
  align-self: center;
  position: absolute;
  right: 0;

}
.reply:hover {
  cursor: pointer;
}
.profile-image{
  height: 40px;
  width: 40px;
}
.username{
  margin-top: 0;
}
.users-comment {
  width: 82%;
  margin-left: 72px;
}

.replies{
  margin-left: 45px;
  margin-top: 32px;
}

textarea {
  background-color: #f7f8fd;
  border: none;
  border-radius: 5px;
  resize: none;
}
.post-comment {
  background-color: #ad1fea;

  color: #f2f4fe;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
}
.post-reply{
  width: 117px;
  
}
.reply-input {
  display: flex;
  gap: 16px;
  width: 90%;
  margin-top: 17px;
  margin-left: auto;
}

.comment {
  border-bottom: 1px solid #F2F4FF;
}

.last {
  border-bottom: unset;
}

.reply-textarea {
  width: 75%;
  height: 60px;
  resize: none;
  padding-left: 24px;
  padding-top: 16px;
}
.reply-textarea:focus{
  outline: 1px solid #4661e6;
  color: #3A4374;
}
.add-comment {
  margin-top: 24px;
  margin-bottom: 133px;
}

.form-control {
  background-color: #f7f8fd;
  border: none;
  width: 95%;
  height: 80px;
  padding-left: 24px;
  padding-top: 16px;
}
.form-control:focus{
  outline: 1px solid #4661e6;
  color: #3A4374;
}
.share-comment {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.user-account{
  margin-top: -15px;
}


.back-text:hover{
    text-decoration: underline 2px #647196;
 }
 
 textarea:active{
     background-color: #F7F8FD;
     border: none;
 }
 .edit-button:hover{
     background-color: #7C91F9;
     border: none;
 }
 .post-comment:hover{
     background-color: #C75AF6;

 }

 hr {
  border: none;
  height: 1px;
  color: #f2f2f2; 
  background-color: #f2f2f2; 
  margin-bottom: 32px;
}

.empty {
  border: 1px solid red;
}

.error {
  color: red;
}

.reply-error {
  margin-left: 72px;
}


@media (max-width: 1255px) {
  .reply-textarea{
    width: 70%;
  }
}
@media (max-width: 1139px) {
  .reply-textarea{
    width: 65%;
  }
}
@media (max-width: 996px) {
  .reply-textarea{
    width: 60%;
  }

}

  

@media (max-width: 900px) {
  .reply-textarea{
    width: 50%;
  }
  main {
    width: 689px;
  }
}
@media (max-width:768px) {
  main {
    width: 95vw;
    margin: auto;
    margin-top: 24px;
  }
  .reply-textarea{
    width: 70%;
  }
  
}
@media (max-width:724px) {
  main {
    width: 95vw;
  }
}

@media (max-width:532px) {
  .user-detail{
    width: 60%;
  }
  
}

@media (max-width:480px) {
  main{
    width: 327px;
    margin-top: 24px;
  }
  .user-detail{
    width: 50%;
    height: fit-content;
  }
  

  .users-comment{
    width: 100%;
    margin-left: 0;
  }
  .reply-input{
    width: 100%;
  }
  .reply-textarea{
    width: 60%;
    height: 90%;
  }
}

@media (max-width:340px) {
  main {
   margin-top: 24px;
  }
  .navigation{
    width: 90%;
    margin: auto;
  }
  
  
}

.no-feed{
  width: max-content;
  margin: auto;
  margin-top: 250px;
  
}
.no-feed img{
  margin: auto;
}
.dots-container div {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #3A4374;
  margin-left: 2px;
}

@keyframes dot {
  0%{
    transform: translate3d(0, 0,0);
    
  }
  50%{
    transform: translate3d(0, 15px,0)
  }
  100%{
    transform: translate3d(0, 0, 0)
  }

}

.container .dot:nth-last-child(1) {
  animation: jumpingAnimation 0.6s 0.1s ease-in infinite;
}
.container .dot:nth-last-child(2) {
  animation: jumpingAnimation 0.6s 0.2s ease-in infinite;
}
.container .dot:nth-last-child(3) {
  animation: jumpingAnimation 0.6s 0.3s ease-in infinite;
}
